
body {
    font-family: sans-serif;
  }
  
  /* Make content area fill the entire browser window */
  html,
  .fullscreen {
    margin: 0;
    padding: 5rem 0 0 0;
    background-color: black;
  }
  
  /* Center the content in the browser window */
  .background {
    margin: auto;
    max-width: 1152px;
    max-height: 500px;
  }

 